// Custom styles.
.headband{height :1px;}
.brand{
	color: #333;
	font-weight: bold;
	background: transparent;
	font-size: 16px;
}
#header {
    background: url("../images/background-header.jpg");
    background-size: cover;
}
.sidebar-toggle{background: #272822;}
.site-author-image{border-radius: 50%;}
